@model Login_Reg.Models.RegisterUser
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucess</title>
</head>
<body>
    <a href = "logout">Logout</a>
    <br/>
    <br/>
    <h1>Success, welcome @Model.FirstName</h1>
</body>
</html>